body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
li{
	list-style:none;
}

.about-bg{
	background:url("../img/about-bg.png") 0 0 no-repeat;
	background-size: 100% 100%;	
}

.color-red{
	color:rgb(216,12,24);
}

.div-padding{
	padding-left: 150px;
	padding-right: 150px;
}

p.s-text{
	padding-top:32px;
	font-size:13px;
	color:rgb(89,87,87);
	line-height:25px;
}

.list-fang li{
	list-style-image:url('../img/kuai.png');
}

.mi-style{
	padding-top:100px;
}
.ul-padding{
	padding-left: 0px;
	padding-top: 60px;
}

p.p-padding{
	padding-top:200px;	
}

p.p-margin{
	margin-top: 380px;
}

.border-red{
	border: 1px red solid;
	padding: 1rem;
}

.memo>li{
	padding-top: 40px;
}

@media screen and (max-width: 992px){
	/* #logoimg{
		display:block;
		margin-left:auto;
		margin-right:auto;
	} */

	.div-padding{
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media screen and (max-width: 321px){
	body{
		width: 320px;
	}
}
